* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-input-placeholder {
    font-style: italic;
 }

body {
    background-color: rgb(201, 201, 201);
    padding-left: 32%;
    padding-right: 32%;
}

#ToDo {
    padding-left: 2%;
}

#ToDo img {
    float: right;
    margin: -10px 25px 15px 20px;
}

#inputid {
    position: relative;
    width: 92%;
    height: 40px;
    padding-left: 2%;
}
#enterid {
    width: 20px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }

.no-outline:focus {
    outline: none;
  }

#TDBorder {
    border: solid 1px gray;
    background-color: white;
}

#checker {
    float: left;
    margin-left: 2%;
    margin-top: 1vw;
}

.added img {
    float: right;
    margin: -37px 10px 15px 20px;
}

.added {
    border-top: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid 1px gray;
    border: solid 1px gray;
}

#clear {
    padding-left: 2%;
}